$turnIndicatorWidth: 25px;
$turnIndicatorBorder: 5px;

.game-area {
  margin: 0 auto;
  text-align: center;
  position: relative;
  display: inline-block;

  .turn-indicator {
    position: absolute;
    top: 40%;
    right: -$turnIndicatorWidth * 3;
    border: solid 1px #999;
    border-radius: $turnIndicatorWidth + $turnIndicatorBorder;
    padding: 2px;

    .black, .white {
      width: $turnIndicatorWidth - $turnIndicatorBorder;
      height: $turnIndicatorWidth - $turnIndicatorBorder;
      border-radius: 50%;
      border: solid $turnIndicatorBorder transparent;

      &.current {
        border-color: rgb(0, 123, 255);
      }
    }

    .black {
      background: black;
      margin-bottom: 1em;
    }

    .white {
      background: white;
    }
  }

  .board {
    margin: 0 auto;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.6);
  }
}