#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.clear {
  background: rgba(0, 0, 0, 0.5);
}

.piece {
  display: inline-block;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  height: 50%;
  width: 50%;
  overflow: hidden;
  border-radius: 50%;
  line-height: 2em;
  margin-top: 25%;
}