:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

body {
  min-height: 100vh;
}

#root {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
